<!DOCTYPE html> 
<html>
<head>
    <base href="/registro">
    <title>Atividade 1</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css'/> 
    <form action="/node-mongodb-mongoose-user" method="post">
        Email <input type="text" name="emailBody">
        Nome <input type="text" name="firstNameBody">
        Sobrenome <input type="text" name="lastNameBody">
        Senha <input type="password" name="passwordBody">
        <button type="submit">Cadastrar usuario</button>
    </form>
</head>
<br>
<body>
</body>
</html>
