<div class="contaniner" >
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <ng-container *ngIf="token">
        <send-message></send-message>
        <size-app [cdTextSizeAlias]="textSize" (cdTextSizeAliasChange)="textSize = $event">
        </size-app>
        <p [style.font-size.px]="textSize">Regular tamanho da fonte</p>
        <br>
        <br>
        <app-message [style.font-size.px]="textSize" [messageVarClasse]="msg" *ngFor="let msg of messages">
        </app-message>
        <button (click)="logout()">Logout</button>
      </ng-container>
      <ng-container *ngIf="!token">
        <app-signin>
        </app-signin>
      </ng-container>
    </div>
  </div>
</div>